<html lang="en">
<head>
  <title>Report Message</title>
</head>
<body>
<div>
  <table>
    <tr>
      <td><b>Reporter:</b></td>
      <td>{{reporterUserName}}</td>
    <tr>
    <tr>
      <td><b>Violator:</b></td>
      <td>{{violatorUserName}}</td>
    <tr>
    <tr>
      <td><b>MessageID:</b></td>
      <td>{{messageID}}</td>
    <tr>
    <tr>
      <td><b>Message:</b></td>
      <td>{{message}}</td>
    <tr>
    <tr>
      <td><b>Reason:</b></td>
      <td>{{reason}}</td>
    <tr>
  </table>
</div>
</body>
</html>
