<html lang="en">
<head>
  <title>Invite User with Managerial Role</title>
</head>
<body>
<div>
  <p><span>Hey,</span></p>
  <p></p>
  <p><span>You have been invited to become {{article}} {{role}} for the {{groupName}} on <span style="font-weight: bold;"><a href=`{{redirectingDomain}}`>FX1</a></span>. Next time you’re in the <span style="font-weight: bold;"><a href=`{{redirectingDomain}}/locker-room/{{lockerRoomSlug}}`>{{groupName}} Locker Room</a></span>, you’ll see your name at the top in the members list on the right, and be known to the fans as someone in a managerial role.</span></p>
  <p></p>
  <p><span>Do your best to help fans out, contribute to chat, and as always let us know any feedback you have on how we can further improve the product for you and all your fans.</span></p>
  <p></p>
  <p><b><u><span>FX1</span></u></b></p>
</div>
</body>
</html>
