<html lang="en">
<head>
  <title>Promotion of User to Ownership Role</title>
</head>
<body>
<div>
  <p><span>Hey,</span></p>
  <p></p>
  <p><span>You have been promoted as an {{role}} for the {{groupName}} on <span style="font-weight: bold;"><a href=`{{redirectingDomain}}`>FX1</a></span>. <span style="font-weight: bold;"><a href=`{{redirectingDomain}}/locker-room/{{lockerRoomSlug}}`>Click here</a></span> to redirect you to the locker room. You may also click on the link below:</span></p>
  <p>{{redirectingDomain}}/locker-room/{{lockerRoomSlug}}</p>
  <p></p>
  <p><span>Do your best to help fans out, contribute to chat, and as always let us know any feedback you have on how we can further improve the product for you and all your fans.</span></p>
  <p></p>
  <p><b><u><span>FX1</span></u></b></p>
</div>
</body>
</html>
